<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drugs.manage.mapper.DrugMapper">

    <resultMap type="com.drugs.manage.entity.Drug" id="DrudResultMap">
        <id property="id" column="id"/>
        <result property="drugCode" column="drugCode"/>
        <result property="drugName" column="drugName"/>
        <result property="drugModel" column="drugModel"/>
        <result property="drugUnit" column="drugUnit"/>
        <result property="unitPrice" column="unitPrice"/>
        <result property="createDate" column="createDate"/>
        <result property="remarks" column="remarks"/>
        <association property="company" javaType="com.drugs.manage.entity.Company">
            <id property="id" column="t_id"/>
            <result property="companyName" column="companyName"/>
        </association>
    </resultMap>

    <select id="getDrugList" parameterType="map" resultMap="DrudResultMap">
        SELECT * FROM drugs d, company_list t where d.companyId=t.id limit #{currIndex} , #{pageSize}
    </select>

    <select id="getDrugCount" parameterType="String" resultType="Integer">
         select count(*) FROM drugs d, company_list t where d.companyId=t.id
    </select>

    <select id="getDrugById" resultMap="DrudResultMap">
        SELECT * FROM drugs d, company_list t where d.companyId=t.id and d.id=#{id}
    </select>

    <update id="updateById">
        update drugs set  drugCode=#{drugCode},
        drugName=#{drugName}, drugModel=#{drugModel},
        drugUnit=#{drugUnit}, unitPrice=#{unitPrice},
        companyId=#{company.id},
        createDate=#{createDate}, remarks=#{remarks}
        where id =#{id}
    </update>

    <insert id="insert">
       insert into drugs(drugCode,drugName,drugModel,drugUnit,unitPrice,companyId,createDate,remarks)
        values(#{drugCode},#{drugName},#{drugModel},
        #{drugUnit},#{unitPrice},#{company.id},#{createDate},#{remarks})
    </insert>

    <delete id="deleteById">
        DELETE FROM drugs WHERE id = #{id}
    </delete>
</mapper>