<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drugs.manage.mapper.OutOfStackMapper">

    <sql id="outOfStackColumnsList">
        <trim suffixOverrides=",">
            <if test="item.drugId != null">drugId,</if>
            <if test="item.drugCode != null">drugCode,</if>
            <if test="item.drugName != null">drugName,</if>
            <if test="item.drugModel != null">drugModel,</if>
            <if test="item.drugUnit != null">drugUnit,</if>
            <if test="item.unitPrice != null">unitPrice,</if>
            <if test="item.money != null">money,</if>
            <if test="item.drawNum != null">drawNum,</if>
            <if test="item.receiver != null">receiver,</if>
            <if test="item.drawTime != null">drawTime,</if>
            <if test="item.remarks != null">remarks</if>
        </trim>
    </sql>
    <sql id="outOfStackValuesList">
        <trim suffixOverrides=",">
            <if test="item.drugId != null">#{item.drugId},</if>
            <if test="item.drugCode != null">#{item.drugCode},</if>
            <if test="item.drugName != null">#{item.drugName},</if>
            <if test="item.drugModel != null">#{item.drugModel},</if>
            <if test="item.drugUnit != null">#{item.drugUnit},</if>
            <if test="item.unitPrice != null">#{item.unitPrice},</if>
            <if test="item.money != null">#{item.money},</if>
            <if test="item.drawNum != null">#{item.drawNum},</if>
            <if test="item.receiver != null">#{item.receiver},</if>
            <if test="item.drawTime != null">#{item.drawTime},</if>
            <if test="item.remarks != null">#{item.remarks}</if>
        </trim>
    </sql>

    <select id="getOutOfStackList" parameterType="map" resultType="com.drugs.manage.entity.OutOfStack">
        SELECT * FROM out_of_stock d
        <where>
            <if test="drugName!=null">
                and d.drugName like '%${drugName}%'
            </if>
            <if test="startDate!=null">
                and d.drawTime &gt;= #{startDate}
            </if>
            <if test="endDate!=null">
                and d.drawTime &lt;= #{endDate}
            </if>
        </where>
        order by id desc limit #{currIndex} , #{pageSize}
    </select>

    <select id="getOutOfStackCount" parameterType="String" resultType="Integer">
        select count(*) FROM out_of_stock d
        <where>
            <if test="drugName!=null">
                and d.drugName like '%${drugName}%'
            </if>
            <if test="startDate!=null">
                and d.drawTime &gt;= #{startDate}
            </if>
            <if test="endDate!=null">
                and d.drawTime &lt;= #{endDate}
            </if>
        </where>
    </select>

    <insert id="batchInsert" parameterType="com.drugs.manage.entity.OutOfStack" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        <foreach item="item" index="index" collection="list" separator=";">
            insert into out_of_stock(<include refid="outOfStackColumnsList"/>)
            VALUES(<include refid="outOfStackValuesList"/>)
        </foreach>
    </insert>
</mapper>