<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drugs.manage.mapper.WarehouseMapper">

    <sql id="warehouseColumnsList">
        <trim suffixOverrides=",">
            <if test="item.drugCode != null">drugCode,</if>
            <if test="item.drugName != null">drugName,</if>
            <if test="item.drugModel != null">drugModel,</if>
            <if test="item.drugUnit != null">drugUnit,</if>
            <if test="item.unitPrice != null">unitPrice,</if>
            <if test="item.money != null">money,</if>
            <if test="item.drawNum != null">drawNum,</if>
            <if test="item.supplier != null">supplier,</if>
            <if test="item.drawTime != null">drawTime,</if>
            <if test="item.sendOrderNo != null">sendOrderNo,</if>
            <if test="item.remarks != null">remarks</if>
        </trim>
    </sql>
    <sql id="warehouseValuesList">
        <trim suffixOverrides=",">
            <if test="item.drugCode != null">#{item.drugCode},</if>
            <if test="item.drugName != null">#{item.drugName},</if>
            <if test="item.drugModel != null">#{item.drugModel},</if>
            <if test="item.drugUnit != null">#{item.drugUnit},</if>
            <if test="item.unitPrice != null">#{item.unitPrice},</if>
            <if test="item.money != null">#{item.money},</if>
            <if test="item.drawNum != null">#{item.drawNum},</if>
            <if test="item.supplier != null">#{item.supplier},</if>
            <if test="item.drawTime != null">#{item.drawTime},</if>
            <if test="item.sendOrderNo != null">#{item.sendOrderNo},</if>
            <if test="item.remarks != null">#{item.remarks}</if>
        </trim>
    </sql>

    <select id="getWarehouseList" parameterType="map" resultType="com.drugs.manage.entity.Warehouse">
        SELECT * FROM warehouse d
        <where>
            <if test="drugName!=null">
                and d.drugName like '%${drugName}%'
            </if>
            <if test="startDate!=null">
                and d.drawTime &gt;= #{startDate}
            </if>
            <if test="endDate!=null">
                and d.drawTime &lt;= #{endDate}
            </if>
        </where>
        order by id desc limit #{currIndex} , #{pageSize}
    </select>

    <select id="getWarehouseCount" parameterType="String" resultType="Integer">
        select count(*) FROM warehouse d
        <where>
            <if test="drugName!=null">
                and d.drugName like '%${drugName}%'
            </if>
            <if test="startDate!=null">
                and d.drawTime &gt;= #{startDate}
            </if>
            <if test="endDate!=null">
                and d.drawTime &lt;= #{endDate}
            </if>
        </where>
    </select>

    <select id="getWarehouseById" resultType="com.drugs.manage.entity.Warehouse">
        SELECT * FROM warehouse where id=#{id}
    </select>

    <insert id="batchInsert" parameterType="com.drugs.manage.entity.Warehouse" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        <foreach item="item" index="index" collection="list" separator=";">
            insert into warehouse(<include refid="warehouseColumnsList"/>)
            VALUES(<include refid="warehouseValuesList"/>)
        </foreach>
    </insert>

    <update id="updateWarehouse" parameterType="com.drugs.manage.entity.Warehouse">
        update warehouse set drugCode=#{drugCode}, drugName=#{drugName}, drugModel=#{drugModel},
            drugUnit=#{drugUnit}, unitPrice=#{unitPrice}, money=#{money},
            drawNum=#{drawNum}, supplier=#{supplier}, drawTime=#{drawTime},
            sendOrderNo=#{sendOrderNo}, remarks=#{remarks}
        where id =#{id}
    </update>

    <delete id="batchDelete" parameterType="com.drugs.manage.entity.Warehouse">
        delete from warehouse where id
        in
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

    <delete id="deleteById">
        DELETE FROM warehouse WHERE id = #{id}
    </delete>
</mapper>